@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
}

a:hover {
  color: #0369a1;
  font-size: 1.1rem;
}
.menu-anchor:hover {
  background-color: #cafce1 !important;
  font-weight: bolder;
}

.menu-label {
  font-size: 13px;
}

button {
  right: 20px;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.15;
}
.fpTHfu {
  background-color: #72e9a8 !important;
}

.ag-theme-alpine {
  --ag-header-height: 30px;
  --ag-header-foreground-color: white;
  --ag-header-background-color: #f9f9f9;
  --ag-header-cell-hover-background-color: rgb(80, 40, 140);
  --ag-header-cell-moving-background-color: rgb(80, 40, 140);
}

.ag-theme-alpine .ag-header-cell {
  color: #707683;
}
